.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  &__wrapper {
    display: flex;
  }

  &__list {
    display: block;
    column-count: 2;
    column-gap: 100px;
    margin-right: 90px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.footer-adress {
  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    max-width: 200px;
    width: 100%;
    padding-left: 65px;

    &:not(:last-child) {
      margin-right: 90px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
      border: 1px solid $yellow-100;
      border-radius: $btn-border-radius;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 24px 24px;
    }

    &--phone {
      &::before {
        background-image: url('../img/phone.svg');
      }
    }

    &--location {
      max-width: 260px;

      &::before {
        background-image: url('../img/location.svg');
      }
    }
  }

  &__description {
    display: block;
    color: $gray-500;
    font-size: $font-text;
  }

  &__link {
    font-weight: 600;
    font-size: $font-h3;
  }
}

.footer-bottom {
  border-top: 1px solid $gray-100;
  &__list {
    display: flex;

    &--copyright {}

    &--socials {}
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;

      &::after {
        content: '';
        position: absolute;
       
        right: 0;
      }
    }
  }

  &__link {}
}

.copyright {
  font-size: $font-text-s;
  color: $gray-300;
  &__item {
    &::after {
      width: 1px;
      height: 20px;
      background-color: $gray-300;
    }
  }
}

.socials {
  font-size: $font-text;
  font-weight: 600;
  &__item {
    &::after {
      width: 6px;
      height: 6px;
      background-color: $cod-gray;
      top: 8px;
      border-radius: 50%;
    }
  }
}