.footer {
  &__inner {
    @include flex-c-sb;
    padding: 40px 0;
  }

  &__wrapper {
    @include flex;
  }

  .menu-list {
    display: block;
    column-count: 2;
    column-gap: 100px;
    margin-right: 90px;

    &__item {
      margin-bottom: 25px;
    }
  }

  &__list {
    @include flex;
  }

  &__item {
    position: relative;
    &:not(:first-child){
      margin-left: 10px;
      padding-left: 16px;
    }

    &::before{
      content: '';
      position: absolute;
      left: 0;
    }
  }
}

.copyright{
  .footer__item{
    font-size: $font-text-s;
    color: $gray-300;
    &:not(:first-child){
      &::before{
        width: 1px;
        height: 20px;
        background-color: $gray-300;
      }
    }
  }
}

.socials{
  .footer__item{
    font-size: $font-text;
    font-weight: 600;
    &:not(:first-child){
      &::before{
        width: 6px;
        height: 6px;
        background-color: $cod-gray;
        border-radius: 50%;
        top: 8px
      }
    }
  }
}

.adress {
  &__list {
    @include flex;
  }

  &__item {
    position: relative;

    max-width: 200px;
    width: 100%;
    padding-left: 65px;

    &:not(:last-child) {
      margin-right: 90px;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 48px;
      height: 48px;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid $yellow-100;
      border-radius: $btn-border-radius;

    }

    &--phone {
      &::before {
        background-image: url('../img/phone.svg');
      }
    }

    &--location {
      max-width: 250px;

      &::before {
        background-image: url('../img/location.svg');
      }
    }

  }

  &__description {
    display: block;
    font-size: $font-text;
    color: $gray-500;
  }

  &__link {
    font-size: $font-h3;
    font-weight: 600;
  }
}