// COLORS
:root {
  --color-black: #100d0d;
  --color-black-800: #323232;
  --color-white: #fff;
  --color-orange: #f9af31;
  --color-orange-200: #ffe4b7;
  --color-orange-100: #fef7ea;
  --color-gray-800: #777777;
  --color-gray-500: #b2b2b2;
  --color-gray-200: #f7f7f7;
  --color-gray-100: #eaeaea;
  --color-disabled: #d8d8d8;
  --color-red: #cf1515;
  --color-green: #269c47;
  --color-orange-linear: linear-gradient(278.62deg, #fce4bb 1.35%, #fef7ea 113.81%);
  --color-border: rgba(249, 175, 49, 0.3);
}


$font-h1: 42px;
$font-h2: 32px;
$font-h3: 18px;
$font-subtitle: 16px;
$font-body: 14px;


$border-radius:5px;
$border-radius-10px:10px;
$border-radius-15px:15px;
$border-radius-20px:20px;
$border-story-radius:0px 0px 20px 20px;