$cod-gray: #100d0d;

$white: #ffffff;

$gray-100: #eaeaea;
$gray-200: #f7f7f7;
$gray-300: #b2b2b2;
$gray-500: #777777;

$yellow-100: #fef7ea;
$yellow-200: #ffe4b7;
$yellow-300: #f9af31;

$red-200: #dd2222;
$red-300: #cf1515;

$green: #269c47;

$gradient: linear-gradient(278.62deg, #fce4bb 1.35%, #fef7ea 113.81%);
$color-border: rgba(249, 175, 49, 0.3);


$font-h1: 42px;
// H1 - Montserrat - Semi Bold - 42/52
$font-h2: 32px;
// H2 - Montserrat - Semi Bold - 32/40
$font-h3: 18px;
// H3 - Montserrat - Semi Bold - 18/22
$font-subtitle: 16px;
// Subtitle - Montserrat - Semi Bold - 16/22
$font-body: 16px;
// Body - Montserrat - Regular - 16/25
$font-text: 14px;
// Body 2 - Montserrat - Regular - 14/25
$font-text-s: 12px;

$lh-h1: 1.2; 
// H1 - Montserrat - Semi Bold - 42/52
$lh-h2: 1.3;
//  H2 - Montserrat - Semi Bold - 32/40
$lh-h3: 1.2;
// H3 - Montserrat - Semi Bold - 18/22
$lh-subtitle: 1.4;
// Subtitle - Montserrat - Semi Bold - 16/22
$lh-body: 1.6;
// Body - Montserrat - Regular - 16/25
$lh-text: 1.8;
// Body 2 - Montserrat - Regular - 14/25

$btn-border-radius: 5px;
$border-form-radius: 10px;
$border-cards-radius: 20px;
$border-banner-radius: 0px 0px 20px 20px;